section {
    /* display: block; */
    /* background-color: antiquewhite; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: salmon;
}

.inlineblock {
    display: inline-block;
}

.pantry {
    display: block;
    margin: 10px 15px;
    background-color: #f5dcdc;
    max-width: 550px;
    padding: 20px;
}

.pantry h2 {

    color: black;
    border: 2px solid black;
    background-color: beige;
    padding: 10px 5px;
    width: 360px;
    margin: 0;
}

.pantry h3 {
    background-color: azure;
    border: 2px solid black;
    padding: 10px 5px;
    width: 170px;
}

.pantry div {
    display: inline-block;
}

.pantry ul {
    color: black;
    background-color: aqua;
    padding: 10px 30px;
}

.pantry img {
    height: 87px;
  width: 130px;
  border: 2px solid black;
  padding: 5px;

}

/* .freezer{
    display: block;
    margin: 10px 15px;
}
.freezer h2{
color:black;
border:2px solid black;
background-color: beige;
padding: 10px 5px;
width: 360px;
margin: 0;

}
.freezer h3{
    border:2px solid black;
    padding: 10px 5px;
    width: 170px;
}

.freezer div{
    display: inline-block;
}
.freezer ol{
    color:black;
    border:2px solid black;
    background-color:aqua;
    padding: 10px 30px;
    }
    .freezer img{
    height: 98px;
    width: 170px;
    border: 2px solid black;
    
    }
     */
/* .imgblock img{
        display: inline-block;
        padding: 10px;
        
    } */
