body {

    height: 700px;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
}

.navbar {
    background-color: black;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: beige;
    left: 0;
    right: 0;
    padding: 10px;
    text-decoration: none;
}

.logo a {
    color: beige;
    text-decoration: none;
    margin: 0px 5px;
}

.menu a {
    color: beige;
    text-decoration: none;
    margin: 0px 5px;
    font-size: 20px;
}

.menu a:active {
    color: #87d5ec;
}

.menu a:hover {
    color: #87d5ec;
}


.main {
    padding: 96px 37px 15px;
    font-size: 20px;
    display: flex;
}

.description {
    width: 70%;
}
.description p{
    text-align: justify;
}



.photo {
    width: 30%
}

.photo img {
    width: 250px;
    height: 300px;
    padding: 0px 15px;

}

footer {
    bottom: 0;
    max-width: 100%;
    background-color: black;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    color: beige;
    left: 0;
    right: 0;
    padding: 10px;
    text-decoration: none;
}

footer a {
    padding: 10px;
    font-size: 50px;
}
